*{
    margin: 0;
    padding: 0;
}
.main{
    /*background: url("https://wallbox.ru/resize/1920x1080/wallpapers/main/201618/5eff3ae7909d44d.jpg") no-repeat;*/
    background-color: #17252a;
    width: 100%;
    max-width: 1950px;
    margin: 0 auto;
    height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    overflow: scroll;
}
.mainInfo{
    background: #3aafa9;
    display: flex;
    flex-direction: row;
    height: max-content;
    border-radius: 20px;
    width: 1400px;
    margin: 70px 320px;
    padding: 5px;

}

.menu{
    width: 1920px;
    height: auto;
    margin: auto auto;
    background: #2b7a78;

    padding: 5px;
    font-family: 'Fascinate', cursive;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.linkReg{
    margin-right: 150px;
    margin-top: 10px;
}
/*.perechislenyavmenu{*/
/*   !*background: red;*!*/
/*    font-size: 24px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/

/*}*/
.perechislenyavmenu p{
    margin: 30px auto;

}
.card
{
    display: flex;
    flex-flow: column;
    font-family: 'Fascinate', cursive;
    font-weight: 100;
    height: max-content;
}
.menuAndCard{
    display: flex;
    flex-direction: column;
}
.photo{
    width: 300px;
    height: 300px;

    margin: 10px 20px;
}
.spisokKtoIA{
    margin: 20px auto;
    border: 10px;
    background: #2b7a78;
    padding: 10px;
    border-radius: 10px;
    width: 700px;
    height: max-content;
    font-size: 19px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    color: #e1e3e6;

}
.whatCanIDO{
    background: #2b7a78;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*margin-left: 5px;*/
    border-top: 2px black solid;
    border-radius:20px;
width: 90%;
    margin-left: 40px;
}
.parametrCountFriendsEtc{
    display: flex;
    flex-direction: row;
    /*padding: 2px;*/
    height: max-content;
    align-items: center;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}
.parametrCountFriendsEtc a{
    margin-right: 10px;
    padding: 10px;
    font-weight: 900;
    color: #e1e3e6;
    font-size: 24px;
}
.parametrCountFriendsEtc p{
    text-align: center;
}

.zagolvki{
    background-color: #2b7a78;
    width: 1000px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.check_activity{
    margin: 25px 20px;
    font-family: Montserrat sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.nameAndStatus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.name_people{
    width: max-content;
    height: max-content;
    margin: auto 20px;
    font-size: 36px;
    font-style:italic;
    font-family: 'Fascinate', cursive;
    font-weight: 900;
}
.photoandName{
    width: max-content;
    height: max-content;
    background: #2b7a78;
    border-radius: 20px;
    margin: 20px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.podpiski{
    width: 300px;
    height: max-content ;
    /*border: #17252a 3px solid;*/
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.Groups{
    /*margin-bottom: 5px;*/
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: space-around;
    padding: 10px;
    background-color: #3aafa9;
    border-radius: 20px;
    margin-bottom: 20px;

}
.firstRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
.firstRow a{
    margin-left: 2px;
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}
.secondRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-right: auto;
}
.bali{
    margin-left: 5px;
}
.secondRow a{
    margin-left: 2px;
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}
.photofriend{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.firstFriend img{
    display: flex;
    flex-direction: row;
    margin: 5px 10px;
}
.firstFriend{
    display: flex;
    flex-direction: column;

}

.mess{
    width: 200px;
    height: max-content;
    background-color: #3aafa9;
    display: flex;
    flex-direction: column;
    margin: 70px 90px;
    border-radius: 20px;
    position: fixed;

}
.perechislvmess{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto;

}
.perechislvmess a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    /*border: 1px solid gray;*/
    /*border-radius:10px ;*/
    margin-top: 10px;
text-decoration: none;
    color:#17252a;
}
.perechislvmess a:hover{
    background-color: #2b7a78;
    color: #fff;
    border-radius: 10px;
}
.OsnovnayaInfa{
    /*background-color: gold;*/
    height: max-content;
    margin-top: 10px;
    border-radius: 10px;
}
.settingsPage{
    background-color: #3aafa9;
    border-radius: 20px;
    /*padding: 5px;*/
    width: 300px;
    margin-top: 20px;
}
.settingsPage a{
    display: flex;
    flex-direction: row;
    font-family: 'Fascinate', cursive;
    font-weight: 900;

    /*padding: 2px;*/

    margin: 10px 10px;
    font-size: 22px;
}
.EditButton{
    border-radius: 10px;
    height: 50px;
    width: 320px;
    border: none;
    background-color: #3aafa9;
}
.status
{
    margin-left: 20px;
    margin-bottom: 40px;
}
.photos{
    margin-top: 20px;
    border: #17252a 2px solid;
    border-radius: 15px;
    width: 900px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-left: 30px;

}
.sliderphotoes{
    width: 123px;
    height: 123px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 200px;

}
.namePhotoes{
    margin-top: 10px;
}
.news{
    width: 800px;
    /*background-color: #2b7a78;*/
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    border: black 0.5px solid;
}
.nameNews{
    margin-top: 10px;
}
.news_text{
    /*width: 400px;*/
    /*height: 100px;*/
    /*margin-left: 200px;*/
    /*border-radius: 20px;*/
    /*margin-top: 30px;*/
    /*border-top: 1px black solid;*/
    /*margin-right: 200px;*/
    width: 480px;
    height: 100px;
    margin-top: 20px;
    font-size:24px;
    resize: none;
    /*margin-right: 100px;*/
    margin-right: 20px;

}
.allNews{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
    /*border: #17252a 1px solid;*/
    border-radius: 10px;
}
.viewNews{
    background-color: #2b7a78;
    border-radius: 20px;
}
.name_people_who_posted{
    border: #2b7a78 2px solid;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-bottom: 10px;
}
.FormNews{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo_img{
    width: 200px;
    height: 40px;
    margin-left: 83px;

}
.photo_left_news{
    width: 123px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
}
.add_News{
    display: flex;
    flex-direction: row;
    /*background-color: red;*/
    /*padding: 20px;*/
    padding-bottom: 15px;
    justify-content: space-between;
    border-radius: 30px;
    background-color: #2b7a78;
    margin: 0 20px;
}
.PostName_Delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button_to_add_news{
    height: 50px;
    width: max-content;
    margin-top: 50px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: gray;
    /*display: block;*/
    margin-right: 200px;

}
.to_vk{
    text-decoration: none;

}
.post_item{
    padding: 10px;
    margin: 15px auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: #e1e3e6;
    /*background-color: cadetblue;*/
    font-size: 24px;
    width: 750px;
    height: max-content;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}
/*.post_item.delition{*/
/*    background-color: darkblue;*/
/*    animation-duration: 1s;*/
/*    animation-name: slideout;*/
/*}*/
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*border: 1px blanchedalmond solid;*/

}
.LikeAndComment{
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: space-between;
    margin-left: 5px;
    margin-top: 15px;
}
.Button-Like{
    width: 50px;
    height: 20px;
}

.btn-delete{
    /*width: 10em;*/
    /*height: 2em;*/

    display: block;
    width: 30px;
    height: 30px;
    --weight: 1px;
    --aa: 1px; /* anti-aliasing */
    --color: black;
    border-radius: 3px;
    background:
            linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
            linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}
.dateTime{
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 2px;
}
.followed{
    /*border: 2px #000000 solid;*/
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #3aafa9;
    border-radius: 20px;
    padding: 5px;
    /*background-color: red;*/
    /*justify-content: space-around;*/
}
.to_row{
    flex-direction: row;
    display: flex;
}
.name_public {
    /*display: flex;*/
    /*margin: auto;*/
    /*flex-direction: column;*/
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.name_public a{
    margin-bottom: 37px;
    text-decoration: none;
    color: black;
}
.photo_public{
    margin-top: 30px;
    margin-right: 20px;
}
.photo_public img{
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;margin-left: 5px;

}
.fav_videos{
    display: flex;
    flex-direction: column;
}

.firstVid{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Added_Videos{
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: #3aafa9;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
}
.fav_audios{
    display: flex;
    flex-direction: column;
}
.Added_audios{
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: #3aafa9;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;

}
.firstAudio{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}
.firstAudio img
{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-top: 20px;
}
.name_Music{
    display: flex;
    flex-direction: column;
    /*margin-top: 35px;*/
    /*margin-left: 20px;*/
    font-family: Montserrat sans-serif;
    font-size: 20px;
    color: #17252a;
    font-weight: 800;
    /*margin-bottom: 20px;*/
    margin-top: 20px;
    margin-left: 10px;
}
.Ispolnitel{
    margin-left: 30px;
    font-family: Montserrat sans-serif;
    font-size: 12px;
    color: #17252a;
    font-weight: 400;
}
.NameMusicAndNameIspolnitel{
    width: 200px;
    height: 70px;
    margin-top: 20px;
  border-radius: 50px;
    background-color: #2b7a78;
    margin-left: 10px;
    /*text-align: center;*/
}