*{
    margin: 0;
    padding: 0;
}
.main{
    /*background: url("https://wallbox.ru/resize/1920x1080/wallpapers/main/201618/5eff3ae7909d44d.jpg") no-repeat;*/
    background-color: #17252a;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    overflow: scroll;
}
.mainInfo{
    background: #3aafa9;
    display: flex;
    flex-direction: row;
    height: max-content;
    border-radius: 20px;
    width: 1400px;
    margin: 70px 400px;
    padding: 5px;

}

.menu{
    width: 1920px;
    height: auto;
    margin: auto auto;
    background: #2b7a78;

    padding: 5px;
    font-family: 'Fascinate', cursive;
    position: fixed;
}
.perechislenyavmenu{
   /*background: red;*/
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.perechislenyavmenu p{
    margin: 30px auto;

}
.card
{
    display: flex;
    flex-flow: column;
    font-family: 'Fascinate', cursive;
    font-weight: 100;
    height: max-content;
}
.menuAndCard{
    display: flex;
    flex-direction: column;
}
.photo{
    width: 300px;
    height: 300px;

    margin: 10px 20px;
}
.spisokKtoIA{
    margin: 10px 100px;
    border: 10px;
    background: #def2f1;
    padding: 10px;
    border-radius: 10px;
    width: 700px;
    height: max-content;
    font-size: 19px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;

}
.whatCanIDO{
    background: #def2f1;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    border-top: 2px black solid;
    border-radius:20px;
}
.parametrCountFriendsEtc{
    display: flex;
    flex-direction: row;
    padding: 2px;
    height: max-content;
    align-items: center;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}
.parametrCountFriendsEtc a{
    margin-right: 10px;
    padding: 10px;

}
.parametrCountFriendsEtc p{
    text-align: center;
}

.zagolvki{
    background-color: #2b7a78;
    width: 1000px;
    border-radius: 20px;

}
.check_activity{
    margin-left: 20px;

}
.name_people{
    width: max-content;
    height: max-content;
    margin: 10px 20px;
    font-size: 36px;
    font-style:italic;
    font-family: 'Fascinate', cursive;
    font-weight: 900;
}
.photoandName{
    width: max-content;
    height: max-content;
    background: #2b7a78;
    border-radius: 20px;
    margin: 20px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.mess{
    width: 200px;
    height: max-content;
    background-color: #3aafa9;
    display: flex;
    flex-direction: column;
    margin: 70px 150px;
    border-radius: 20px;
    position: fixed;

}
.perechislvmess{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto;

}
.perechislvmess a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    /*border: 1px solid gray;*/
    /*border-radius:10px ;*/
    margin-top: 10px;
text-decoration: none;
    color:#17252a;
}
.perechislvmess a:hover{
    background-color: #2b7a78;
    color: #fff;
    border-radius: 10px;
}
.OsnovnayaInfa{
    /*background-color: gold;*/
    height: max-content;
    margin-top: 10px;
    border-radius: 10px;
}
.settingsPage a{
    display: flex;
    flex-direction: row;
    font-family: 'Fascinate', cursive;
    font-weight: 900;
    border: #e1e3e6 2px;
    padding: 2px;
    outline: 1px solid #000;
    margin: 10px 10px;
    font-size: 22px;
}
.EditButton{
    border-radius: 10px;
    height: 50px;
    width: 320px;
    border: none;
    background-color: #e1e3e6;
}
.status
{
    margin-left: 20px;
}
.photos{
    margin-top: 20px;
    border: gray 2px solid;
    border-radius: 20px;
    width: 1000px;

}
.sliderphotoes{
    width: 123px;
    height: 123px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 20px;
    padding: 2px;

}
.namePhotoes{
    margin-top: 10px;
}
.news{
    width: 800px;
    background-color: #2b7a78;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    margin-top: 20px;
    border-radius: 20px;
}
.nameNews{
    margin-top: 10px;
}
.news_text{
    /*width: 400px;*/
    /*height: 100px;*/
    /*margin-left: 200px;*/
    /*border-radius: 20px;*/
    /*margin-top: 30px;*/
    /*border-top: 1px black solid;*/
    /*margin-right: 200px;*/
    width: 480px;
    height: 100px;
    margin-top: 20px;

}
.logo_img{
    width: 200px;
    height: 40px;
    margin-left: 150px;

}
.photo_left_news{
    width: 123px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
}
.add_News{
    display: flex;
    flex-direction: row;
    /*background-color: red;*/
    padding: 20px;
    justify-content: space-between;

}
.button_to_add_news{
    height: 50px;
    width: max-content;
    margin-top: 50px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: gray;

}
.to_vk{
    text-decoration: none;

}