*{
    margin: 0;
    padding: 0;
}
.Reg_mainWindow{
    width: 1000px;
    height: 500px;
    background-color: #2b7a78;
    margin: 200px auto;
    display: flex;
    border-radius: 30px;

}
.coloumnInput{
    display: flex;
    flex-direction: column;
    /*margin:150px 20px;*/
    width: 300px;
    height: max-content;
    border-radius: 20px;
    padding: 50%;
    margin: 40px 65%;
    background-color: #3aafa9;
}
.reg_button_add_member{
    margin-top: 20px;
}

